<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <!-- Fully disable tracing -->
    <trace enabled="false" pageOutput="false" requestLimit="0" localOnly="true" />
  </system.web>

  <system.webServer>

    <!-- Handle error pages -->
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="400" />
      <remove statusCode="401" />
      <remove statusCode="403" />
      <remove statusCode="404" />
      <remove statusCode="405" />
      <remove statusCode="406" />
      <remove statusCode="412" />
      <error statusCode="400" path="/meetings/error.html" responseMode="ExecuteURL" />
      <error statusCode="401" path="/meetings/error.html" responseMode="ExecuteURL" />
      <error statusCode="403" path="/meetings/error.html" responseMode="ExecuteURL" />
      <error statusCode="404" path="/meetings/error.html" responseMode="ExecuteURL" />
      <error statusCode="405" path="/meetings/error.html" responseMode="ExecuteURL" />
      <error statusCode="406" path="/meetings/error.html" responseMode="ExecuteURL" />
      <error statusCode="412" path="/meetings/error.html" responseMode="ExecuteURL" />
    </httpErrors>

    <!-- Remove sensitive headers -->
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <remove name="etag" />
        <add name="etag" value="" />
      </customHeaders>
    </httpProtocol>

    <!-- Rewrite config -->
    <rewrite>
      <rules>
        <!-- Block trace.axd -->
        <rule name="Block trace.axd" stopProcessing="true">
          <match url="trace.axd" />
          <action type="AbortRequest" />
        </rule>
      </rules> 
      <outboundRules>
          <rule name="Remove ETag">
            <match serverVariable="RESPONSE_ETag" pattern=".+" />
            <action type="Rewrite" value="" />
          </rule>
      </outboundRules>
    </rewrite>

    <!-- Static content settings -->
    <staticContent>
      <clientCache cacheControlMode="DisableCache" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>

    <caching enabled="false" enableKernelCache="false" />
    
    <urlCompression doStaticCompression="false" doDynamicCompression="false" />

    <!-- Remove trace handler -->
    <handlers>
      <remove name="TraceHandler-Integrated" />
    </handlers>

    <!-- Security: Block trace.axd -->
    <security>
      <requestFiltering>
        <denyUrlSequences>
          <add sequence="trace.axd" />
        </denyUrlSequences>
      </requestFiltering>
    </security>

  </system.webServer>
</configuration>
