<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <!-- Fully disable tracing -->
    <trace enabled="false" pageOutput="false" requestLimit="0" localOnly="true" />
  </system.web>

  <system.webServer>
  <!-- handle error pages -->
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="400" />
      <remove statusCode="401" />
      <remove statusCode="403" />
      <remove statusCode="404" />
      <remove statusCode="405" />
      <remove statusCode="406" />
      <remove statusCode="412" />

      <error statusCode="400" path="/meetings/error.html" responseMode="ExecuteURL" />
      <error statusCode="401" path="/meetings/error.html" responseMode="ExecuteURL" />
      <error statusCode="403" path="/meetings/error.html" responseMode="ExecuteURL" />
      <error statusCode="404" path="/meetings/error.html" responseMode="ExecuteURL" />
      <error statusCode="405" path="/meetings/error.html" responseMode="ExecuteURL" />
      <error statusCode="406" path="/meetings/error.html" responseMode="ExecuteURL" />
      <error statusCode="412" path="/meetings/error.html" responseMode="ExecuteURL" />
    </httpErrors>

    <!-- Redirect all React routes to index.html for proper routing -->
    <rewrite>
      <rules>
        <rule name="Block trace.axd" stopProcessing="true">
          <match url="trace.axd" />
          <action type="AbortRequest" />
        </rule>
      </rules>
    </rewrite>


    <!-- Block access to trace.axd -->
    <handlers>
      <remove name="TraceHandler-Integrated" />
    </handlers>

    <security>
      <requestFiltering>
        <denyUrlSequences>
          <add sequence="trace.axd" />
        </denyUrlSequences>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>