@import 'assets/scss/style.scss';

.nav-outside.mob-backdrop {
  &.mob-fixed .pcoded-navbar {
    z-index: 1032;
  }
  ~ .pcoded-outside {
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1031;
      background: rgba(0, 0, 0, 0.25);
    }
  }
}
.pcoded-header .dropdown .notification .noti-body li {
  width: 100%;
}

.header-chat .h-list-footer .input-group {
  .btn-attach {
    padding: 0;
    width: 35px;
    height: 35px;
  }

  .btn-send {
    top: 7px;
  }
}

.main-search {
  padding: 16px 12px;
}

@media only screen and (max-width: 991px) {
  .nav-outside {
    ~ {
      .pcoded-header,
      .pcoded-main-container {
        margin-left: 0;
      }
    }

    &.mob-fixed ~ .pcoded-main-container {
      padding-top: 142px;
    }
  }

  .pcoded-header .navbar-nav > li:last-child {
    padding-right: 35px;
  }
}

.box {
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
}
.img-preview {
  overflow: hidden;
}

.img-preview-section-container {
  display: none;
}

.carousel-inner {
  overflow: visible;
  z-index: 1050;
}
@media only screen and (max-width: 991px) {
  .pcoded-header,
  .pcoded-main-container {
    margin-left: 0;
    width: 100%;
  }
}
.card-header .card-header-right {
  .dropdown-menu.show {
    transform: none !important;
    right: 0 !important;
    top: 100% !important;
    left: auto !important;
  }
}

header.navbar.pcoded-header.navbar-expand-lg.header-default.headerpos-fixed {
  background: $theme-background;
}

header.navbar.pcoded-header.navbar-expand-lg.header-default.headerpos-fixed .b-brand .b-title {
  color: $menu-light-text-color;
}

header.navbar.pcoded-header.navbar-expand-lg.header-default.headerpos-fixed .mobile-menu span,
header.navbar.pcoded-header.navbar-expand-lg.header-default.headerpos-fixed .mobile-menu span:after,
header.navbar.pcoded-header.navbar-expand-lg.header-default.headerpos-fixed .mobile-menu span:before {
  background-color: $menu-light-text-color;
}

header.navbar.pcoded-header.navbar-expand-lg.header-default .mobile-menu.on span {
  background-color: transparent;
}

@media only screen and (max-width: 991px) {
  .pcoded-navbar {
    z-index: 1072;
  }

  header.navbar.pcoded-header.navbar-expand-lg.header-default.headerpos-fixed {
    background: $header-dark-background;
  }

  header.navbar.pcoded-header.navbar-expand-lg.header-default.headerpos-fixed .b-brand .b-title {
    color: $header-dark-text-color;
  }

  header.navbar.pcoded-header.navbar-expand-lg.header-default.headerpos-fixed .mobile-menu span,
  header.navbar.pcoded-header.navbar-expand-lg.header-default.headerpos-fixed .mobile-menu span:after,
  header.navbar.pcoded-header.navbar-expand-lg.header-default.headerpos-fixed .mobile-menu span:before {
    background-color: $header-dark-text-color;
  }

  header.navbar.pcoded-header.navbar-expand-lg.header-default .mobile-menu.on span {
    background-color: transparent;
  }
}

.user-activity .tab-content {
  padding-top: 5px;
}

.user-activity .card {
  box-shadow: none;
  --bs-card-bg: transparent;
}
.form-control {
  background-color: transparent !important;
}

.form-control[type='file'] {
  height: auto;
  padding-left: 0.45rem;
}
.form-label {
  color: #333;
}
.table {
  .badge {
    margin-right: 0.25rem;
  }
}
.mb-3.row {
  > .col,
  .col.d-flex {
    @media (max-width: 768px) {
      margin-top: 5px;
      margin-bottom: 5px;
      &:nth-child(2) {
        flex-direction: column;
        text-align: left;
        > span {
          justify-content: flex-start !important;
          .form-control {
            max-width: 150px;
          }
        }
        .btn {
          margin-top: 8px;
          max-width: fit-content;
          margin-left: 0 !important;
        }
      }
    }
  }
}

.row.justify-content-between > .col > .d-flex.align-items-center strong {
  margin: 0 5px;
}

@media (max-width: 575px) {
  .row.justify-content-between > *[class*='col-'],
  .row.justify-content-between > .col {
    flex: 100%;
    .pagination {
      justify-content: flex-start !important;
    }
    &:first-child {
      margin-bottom: 8px;
    }
    > .d-flex.align-items-center {
      input {
        width: 40px !important;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}
td {
  img.wid-40 {
    max-width: 40px;
  }
}
.new-cust-card {
  @media (max-width: 1024px) {
    .d-inline-block {
      width: calc(100% - 55px);
    }
    .align-middle .status {
      position: relative;
      top: 0;
      left: 0;
    }
  }
}
.table th,
.table td {
  vertical-align: middle;
}
.cover-img-block {
  overflow: hidden;
  z-index: 1;
}
.user-about-block {
  position: relative;
  z-index: 5;
}
@media only screen and (max-width: 1200px) {
  .user-card .user-about-block {
    margin-top: -10px;
  }
}

.alert {
  .float-right {
    margin-left: 8px;
    float: none !important;
  }
}
@media (max-width: 768px) {
  .modal-open .modal {
    padding-left: 0 !important;
  }
}

.logo {
  width: 35px;
  height: 35px;
}

.carousel.slide {
  overflow: hidden;
}
.table {
  thead {
    tr {
      th {
        background-color: transparent;
        color: #333;
        font-size: 13px !important ;
        font-weight: 600;
        height: 40px !important;
        button,
        .btn-link {
          font-size: 13px !important ;
          font-weight: 600;
          color: #333 !important;
          &:active {
            background-color: transparent;
            border: none;
          }
        }
        &:hover {
          color: #333 !important;
        }
        &:active {
          background-color: transparent;
          color: #333 !important;
        }
      }
    }
  }
}

.pcoded-header {
  min-height: 0px !important;
}

.table.table-bordered.table-hover {
  th {
    select.form-control {
      min-width: 140px;
    }
  }
}
.grey-bg {
  background-color: $secondary-color !important;
}
.lightgrey-bg {
  background-color: $default-color !important;
}
.darkgrey-bg {
  background-color: $header-dark-background !important;
}

.custom-nav-head {
  display: flex;
  justify-content: space-between;
}

.lineForm {
  display: flex;
}

.bg-0 {
  background-color: none;
  background: none;
}
.br-0 {
  border: none;
}

.op-10 {
  opacity: 1;
}
.op-9 {
  opacity: 0.9;
}
.op-8 {
  opacity: 0.8;
}
.op-7 {
  opacity: 0.7;
}
.op-6 {
  opacity: 0.6;
}
.op-5 {
  opacity: 0.5;
}
.op-4 {
  opacity: 0.4;
}
.op-3 {
  opacity: 0.3;
}
.op-2 {
  opacity: 0.2;
}
.op-1 {
  opacity: 0.1;
}
.op-0 {
  opacity: 0;
}

.cfs-14 {
  font-size: 14px !important;
}
.cfs-12 {
  font-size: 12px !important;
}
.cfs-10 {
  font-size: 10px !important;
}
.cfs-9 {
  font-size: 9px !important;
}

.mr-1 {
  margin-right: 1rem;
}
.mr-2 {
  margin-right: 2rem;
}
.mr-3 {
  margin-right: 3rem;
}
.mr-4 {
  margin-right: 4rem;
}

.ml-1 {
  margin-left: 1rem;
}
.ml-2 {
  margin-left: 2rem;
}
.ml-3 {
  margin-left: 3rem;
}
.ml-4 {
  margin-left: 4rem;
}

.pl-0 {
  padding-left: 0;
}
.pl-1 {
  padding-left: 1rem;
}
.pl-2 {
  padding-left: 2rem;
}
.pl-3 {
  padding-left: 3rem;
}
.pl-4 {
  padding-left: 4rem;
}
.pr-0 {
  padding-right: 0;
}
.pr-1 {
  padding-right: 1rem;
}
.pr-2 {
  padding-right: 2rem;
}
.pr-3 {
  padding-right: 3rem;
}
.pr-4 {
  padding-right: 4rem;
}

.react-datepicker-wrapper {
  width: 100% !important;
}
.w-full {
  width: 100%;
}
.w-10 {
  width: 10%;
}
.w-15 {
  width: 15%;
}
.w-20 {
  width: 20%;
}
.w-25 {
  width: 25%;
}
.w-30 {
  width: 30%;
}
.w-35 {
  width: 35%;
}
.w-40 {
  width: 40%;
}
.w-45 {
  width: 45%;
}
.w-50 {
  width: 50%;
}
.w-55 {
  width: 55%;
}
.w-60 {
  width: 60%;
}
.w-65 {
  width: 65%;
}
.w-70 {
  width: 70%;
}
.w-75 {
  width: 75%;
}
.w-80 {
  width: 80%;
}
.w-85 {
  width: 85%;
}
.w-90 {
  width: 90%;
}

.text-right {
  text-align: end;
}

.flex {
  display: flex;
}

.pointer {
  cursor: pointer;
}
.cursor {
  cursor: default !important;
}

button.sortBtn.btn.btn-info,
.btn-danger {
  padding: 6px 12px !important;
  font-weight: 900;
  i {
    font-weight: 900;
    font-size: 16px;
  }
}
.header-primary {
  border-top: 3px solid $primary-color;
}
.header-warning {
  border-top: 3px solid $warning-color;
}
.header-danger {
  border-top: 3px solid $danger-color;
}
.header-success {
  border-top: 3px solid $success-color;
}
.header-purple {
  border-top: 3px solid $purple-color;
}
.header-secondary {
  border-top: 3px solid $secondary-color;
}
.header-info {
  border-top: 3px solid $info-color;
}
.header-dark {
  border-top: 3px solid $dark-color;
}
.attendance {
  width: 45px;
  height: 45px;
}
.custom-form-select {
  font-size: 14px;
  line-height: 2;
}
.meetingImg {
  width: 65%;
}
.meetingEntry {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.report-label {
  font-size: 14px;
  color: #333;
  font-weight: 600;
}
.inner-table {
  .table {
    thead {
      tr {
        th {
          background-color: #207c70 !important;
          color: #fff !important;
          font-size: 13px;
          font-weight: 600;
          button {
            font-size: 13px;
            font-weight: 600;
            color: #fff !important;
            &:active {
              background-color: #207c70 !important;
              border: none;
            }
          }
          .btn-link {
            font-size: 13px;
            font-weight: 600;
            color: #fff !important;
          }
          &:hover {
            color: #fff !important;
          }
          &:active {
            background-color: #207c70 !important;
            color: #fff !important;
          }
        }
      }
    }
  }
}

.dark-table {
  .table {
    thead {
      tr {
        th {
          background-color: #20417c;
          color: #fff !important;
          font-size: 13px;
          font-weight: 600;
          height: 40px;
          button,
          .btn-link {
            font-size: 13px;
            font-weight: 600;
            color: #fff !important;
            &:active {
              background-color: transparent;
              border: none;
            }
          }
          &:hover {
            color: #fff !important;
          }
          &:active {
            background-color: #20417c;
            color: #fff !important;
          }
        }
      }
    }
  }
}
.table td,
.table th {
  border-top: 1px solid #eaeaea;
  white-space: nowrap;
  padding: 0.5rem 0.75rem;
}
.table thead tr th {
  padding-top: 0;
  padding-bottom: 0;
  font-weight: 700;
}

.table thead tr .action {
  width: 40px;
  padding-right: 40px;
}

.pagination-select {
  width: auto !important;
}

.custom-pagination {
  display: flex;
  justify-content: space-between;
  .pagination-select {
    width: auto;
  }
}
.list-toggle-direction {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem 0.45rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  &:hover {
    border-radius: 50%;
    box-shadow: 1px 0px 5px #ccc;
  }
}
.userModalBody {
  .info {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
.tableHeaderSection {
  margin-bottom: 10px;
  .titleSection {
    display: flex;
    justify-content: start;
    align-items: center;
    h5 {
      font-weight: 600;
    }
  }
  .actionField {
    display: flex;
    justify-content: end;
    align-items: center;
    .searchBox {
      width: 40% !important;
    }
  }
}

// card css//
.info {
  .card-header h5:after {
    background-color: $primary-color;
  }
  .c-card-body {
    max-height: 250px;
    overflow-y: auto;
    h6 {
      font-weight: 600;
    }
    .card-header {
      h5:after {
        background-color: $primary-color;
      }
    }
    .custom-cards {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $primary-color;
      margin: 10px 0;
      padding: 7px 7px;
      border-radius: 4px;
      label,
      span,
      p {
        color: #fff;
      }

      .point {
        font-size: 8px;
      }
    }
  }
  .footer {
    button {
      border: none;
      background-color: $primary-color;
      color: #fff;
      &:hover {
        opacity: 1;
      }
    }
  }
}

.warning {
  .card-header h5:after {
    background-color: $warning-color;
  }
  .c-card-body {
    max-height: 250px;
    overflow-y: auto;
    h6 {
      font-weight: 600;
    }
    .card-header {
      h5:after {
        background-color: $warning-color;
      }
    }
    .custom-cards {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $warning-color;
      margin: 10px 0;
      padding: 7px 7px;
      border-radius: 4px;
      label,
      span,
      p {
        color: #fff;
      }
    }
  }
  .footer {
    button {
      border: none;
      background-color: $warning-color;
      color: #fff;
      &:hover {
        opacity: 1;
      }
    }
  }
}
.success {
  .card-header h5:after {
    background-color: $success-color;
  }
  .c-card-body {
    max-height: 250px;
    overflow-y: auto;
    h6 {
      font-weight: 600;
    }
    .card-header {
      h5:after {
        background-color: $success-color;
      }
    }
    .custom-cards {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $success-color;
      margin: 10px 0;
      padding: 7px 7px;
      border-radius: 4px;
      label,
      span,
      p {
        color: #fff;
      }
    }
  }
  .footer {
    button {
      border: none;
      background-color: $success-color;
      color: #fff;
      &:hover {
      }
    }
  }
}

.secondary {
  .card-header h5:after {
    background-color: $secondary-color;
  }
  .c-card-body {
    max-height: 250px;
    overflow-y: auto;
    h6 {
      font-weight: 600;
    }
    .card-header {
      h5:after {
        background-color: $secondary-color;
      }
    }
    .custom-cards {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $secondary-color;
      margin: 10px 0;
      padding: 7px 7px;
      border-radius: 4px;
      label,
      span,
      p {
        color: #fff;
      }
    }
  }
  .footer {
    button {
      border: none;
      background-color: $secondary-color;
      color: #fff;
      &:hover {
        opacity: 1;
      }
    }
  }
}
.danger {
  .card-header h5:after {
    background-color: $danger-color;
  }
  .c-card-body {
    max-height: 250px;
    overflow-y: auto;
    h6 {
      font-weight: 600;
    }
    .card-header {
      h5:after {
        background-color: $danger-color;
      }
    }
    .custom-cards {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $danger-color;
      margin: 10px 0;
      padding: 7px 7px;
      border-radius: 4px;
      label,
      span,
      p {
        color: #fff;
      }
    }
  }
  .footer {
    button {
      border: none;
      background-color: $danger-color;
      color: #fff;
      &:hover {
        opacity: 1;
      }
    }
  }
}

.purple {
  .card-header h5:after {
    background-color: $purple-color;
  }
  .c-card-body {
    max-height: 250px;
    overflow-y: auto;
    h6 {
      font-weight: 600;
    }
    .card-header {
      h5:after {
        background-color: $purple-color;
      }
    }
    .custom-cards {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $purple-color;
      margin: 10px 0;
      padding: 7px 7px;
      border-radius: 4px;
      label,
      span,
      p {
        color: #fff;
      }
    }
  }
  .footer {
    button {
      border: none;
      background-color: $purple-color;
      color: #fff;
      &:hover {
        opacity: 1;
      }
    }
  }
}

///////////////////

.rmsc label {
  margin-bottom: 0;
}

.accordion {
  .accordion-item {
    border: none !important;

    .accordion-header {
      .accordion-button {
        padding: 0 !important;
        background-color: transparent;
        width: auto;
        box-shadow: none;
        &::after {
          margin-left: 5px !important;
        }
      }
    }
  }
}
.dashboard-cards {
  .customcard.card {
    min-height: 160px !important;
    border-radius: 10px;
    h6 {
      font-size: 15px;
      font-weight: 500;
    }
  }
}

.multi-user-filter {
  max-width: 250px;
}
.label-user {
  white-space: nowrap;
  padding: 2px 7px;
  border-radius: 25px;
  border: 1px solid rgb(204, 204, 204);
  background-color: rgb(240, 240, 240);
  cursor: pointer;
  font-size: 12px;
  text-align: center;
}

.showLoader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-datepicker__input-container input {
  width: 100%;
  padding: 9px 12px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  outline: none;
  transition: all 0.3s ease;
}

.userInfo-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userInfo-right {
  width: 100%;
  .userInfo-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.7rem;
    h6 {
      font-weight: 600;
      color: #444;
      width: 40%;
      margin: 0;
      padding: 0;
    }
    span {
      width: 60%;
    }
  }
}

/////////////////backgorund color//////////////////////

.bg-color-1 {
  background: hsla(61, 81%, 88%, 1);

  background: linear-gradient(180deg, hsla(61, 81%, 88%, 1) 0%, hsla(310, 65%, 85%, 1) 50%, hsl(7, 100%, 83%) 100%);

  background: -moz-linear-gradient(180deg, hsla(61, 81%, 88%, 1) 0%, hsla(310, 65%, 85%, 1) 50%, hsla(7, 100%, 83%) 100%);

  background: -webkit-linear-gradient(180deg, hsla(61, 81%, 88%, 1) 0%, hsla(310, 65%, 85%, 1) 50%, hsla(7, 100%, 83%) 100%);
}

.bg-color-2 {
  background: hsla(208, 67%, 81%, 1);

  background: linear-gradient(180deg, hsla(208, 67%, 81%, 1) 0%, hsla(37, 65%, 85%, 1) 50%, hsla(301, 65%, 83%, 1) 100%);

  background: -moz-linear-gradient(180deg, hsla(208, 67%, 81%, 1) 0%, hsla(37, 65%, 85%, 1) 50%, hsla(301, 65%, 83%, 1) 100%);

  background: -webkit-linear-gradient(180deg, hsla(208, 67%, 81%, 1) 0%, hsla(37, 65%, 85%, 1) 50%, hsla(301, 65%, 83%, 1) 100%);
}

.bg-color-3 {
  background: hsla(64, 41%, 92%, 1);

  background: linear-gradient(180deg, hsla(64, 41%, 92%, 1) 0%, hsla(196, 83%, 84%, 1) 50%, hsla(305, 75%, 83%, 1) 100%);

  background: -moz-linear-gradient(180deg, hsla(64, 41%, 92%, 1) 0%, hsla(196, 83%, 84%, 1) 50%, hsla(305, 75%, 83%, 1) 100%);

  background: -webkit-linear-gradient(180deg, hsla(64, 41%, 92%, 1) 0%, hsla(196, 83%, 84%, 1) 50%, hsla(305, 75%, 83%, 1) 100%);
}

.bg-color-4 {
  background: hsla(242, 58%, 73%, 1);

  background: linear-gradient(180deg, hsla(242, 58%, 73%, 1) 0%, hsla(157, 72%, 82%, 1) 100%);

  background: -moz-linear-gradient(180deg, hsla(242, 58%, 73%, 1) 0%, hsla(157, 72%, 82%, 1) 100%);

  background: -webkit-linear-gradient(180deg, hsla(242, 58%, 73%, 1) 0%, hsla(157, 72%, 82%, 1) 100%);
}

.bg-color-5 {
  background: hsla(176, 61%, 87%, 1);

  background: linear-gradient(180deg, hsla(176, 61%, 87%, 1) 0%, hsla(150, 54%, 86%, 1) 50%, hsla(301, 68%, 84%, 1) 100%);

  background: -moz-linear-gradient(180deg, hsla(176, 61%, 87%, 1) 0%, hsla(150, 54%, 86%, 1) 50%, hsla(301, 68%, 84%, 1) 100%);

  background: -webkit-linear-gradient(180deg, hsla(176, 61%, 87%, 1) 0%, hsla(150, 54%, 86%, 1) 50%, hsla(301, 68%, 84%, 1) 100%);
}
.bg-color-6 {
  background: hsla(298, 68%, 90%, 1);

  background: linear-gradient(180deg, hsla(298, 68%, 90%, 1) 0%, hsla(30, 82%, 91%, 1) 100%);

  background: -moz-linear-gradient(180deg, hsla(298, 68%, 90%, 1) 0%, hsla(30, 82%, 91%, 1) 100%);

  background: -webkit-linear-gradient(180deg, hsla(298, 68%, 90%, 1) 0%, hsla(30, 82%, 91%, 1) 100%);
}

.bg-color-7 {
  background: hsla(4, 48%, 94%, 1);

  background: linear-gradient(180deg, hsla(4, 48%, 94%, 1) 0%, hsla(66, 70%, 80%, 1) 50%, hsla(226, 67%, 76%, 1) 100%);

  background: -moz-linear-gradient(180deg, hsla(4, 48%, 94%, 1) 0%, hsla(66, 70%, 80%, 1) 50%, hsla(226, 67%, 76%, 1) 100%);

  background: -webkit-linear-gradient(180deg, hsla(4, 48%, 94%, 1) 0%, hsla(66, 70%, 80%, 1) 50%, hsla(226, 67%, 76%, 1) 100%);
}

.bg-color-8 {
  background: hsla(356, 68%, 91%, 1);

  background: linear-gradient(180deg, hsla(356, 68%, 91%, 1) 0%, hsla(140, 60%, 82%, 1) 50%, hsla(316, 66%, 80%, 1) 100%);

  background: -moz-linear-gradient(180deg, hsla(356, 68%, 91%, 1) 0%, hsla(140, 60%, 82%, 1) 50%, hsla(316, 66%, 80%, 1) 100%);

  background: -webkit-linear-gradient(180deg, hsla(356, 68%, 91%, 1) 0%, hsla(140, 60%, 82%, 1) 50%, hsla(316, 66%, 80%, 1) 100%);
}

/////////////////////text color////////////////////////////////////

.text-c-voilet{
  color: #271879;
}
.text-c-green{
  color: #098a30;
}
.text-c-gree{
  color: #271879;
}
.text-c-red{
  color: #991c1c;
}
.text-c-yellow{
  color: #F4A100;
}
.text-c-blue{
  color: #0849c2;
}
.text-c-pink{
  color: #791864;
}
.text-c-brown{
  color: #794418;
}
.text-c-black{
  color: #000000;
}
.text-c-white{
  color: #ffffff;
}