@import '../../assets/scss/style.scss';

:root {
  --bs-blue: #04a9f5;
  --bs-indigo: #6610f2;
  --bs-purple: #a389d4;
  --bs-pink: #e83e8c;
  --bs-red: #f44236;
  --bs-orange: #fd7e14;
  --bs-yellow: #f4c22b;
  --bs-green: #1de9b6;
  --bs-teal: #008080;
  --bs-cyan: #3ebfea;
  --bs-black: #000000;
  --bs-white: #ffffff;
  --bs-gray: #5b6b79;
  --bs-gray-dark: #1d2630;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #f3f5f7;
  --bs-gray-300: #dbe0e5;
  --bs-gray-400: #bec8d0;
  --bs-gray-500: #8996a4;
  --bs-gray-600: #5b6b79;
  --bs-gray-700: #3e4853;
  --bs-gray-800: #1d2630;
  --bs-gray-900: #131920;
  --bs-primary: #04a9f5;
  --bs-secondary: #5b6b79;
  --bs-success: #1de9b6;
  --bs-info: #3ebfea;
  --bs-warning: #f4c22b;
  --bs-danger: #f44236;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 4, 169, 245;
  --bs-secondary-rgb: 91, 107, 121;
  --bs-success-rgb: 29, 233, 182;
  --bs-info-rgb: 62, 191, 234;
  --bs-warning-rgb: 244, 194, 43;
  --bs-danger-rgb: 244, 66, 54;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-primary-text-emphasis: #052c65;
  --bs-secondary-text-emphasis: #2b2f32;
  --bs-success-text-emphasis: #0a3622;
  --bs-info-text-emphasis: #055160;
  --bs-warning-text-emphasis: #664d03;
  --bs-danger-text-emphasis: #58151c;
  --bs-light-text-emphasis: #495057;
  --bs-dark-text-emphasis: #495057;
  --bs-primary-bg-subtle: #cdeefd;
  --bs-secondary-bg-subtle: #f8f9fa;
  --bs-success-bg-subtle: #d2fbf0;
  --bs-info-bg-subtle: #d8f2fb;
  --bs-warning-bg-subtle: #fdf3d5;
  --bs-danger-bg-subtle: #fdd9d7;
  --bs-light-bg-subtle: #fcfcfd;
  --bs-dark-bg-subtle: #bec8d0;
  --bs-primary-border-subtle: #9bddfb;
  --bs-secondary-border-subtle: #f3f5f7;
  --bs-success-border-subtle: #a5f6e2;
  --bs-info-border-subtle: #b2e5f7;
  --bs-warning-border-subtle: #fbe7aa;
  --bs-danger-border-subtle: #fbb3af;
  --bs-light-border-subtle: #f3f5f7;
  --bs-dark-border-subtle: #8996a4;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-font-sans-serif: 'Open Sans', sans-serif;
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 0.875rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #888;
  --bs-body-color-rgb: 136, 136, 136;
  --bs-body-bg: #f4f7fa;
  --bs-body-bg-rgb: 244, 247, 250;
  --bs-emphasis-color: #000;
  --bs-emphasis-color-rgb: 0, 0, 0;
  --bs-secondary-color: rgba(33, 37, 41, 0.75);
  --bs-secondary-color-rgb: 33, 37, 41;
  --bs-secondary-bg: #e9ecef;
  --bs-secondary-bg-rgb: 233, 236, 239;
  --bs-tertiary-color: rgba(33, 37, 41, 0.5);
  --bs-tertiary-color-rgb: 33, 37, 41;
  --bs-tertiary-bg: #f8f9fa;
  --bs-tertiary-bg-rgb: 248, 249, 250;
  --bs-heading-color: #262626;
  --bs-link-color: #04a9f5;
  --bs-link-color-rgb: 4, 169, 245;
  --bs-link-decoration: none;
  --bs-link-hover-color: #0387c4;
  --bs-link-hover-color-rgb: 3, 135, 196;
  --bs-link-hover-decoration: underline;
  --bs-code-color: #e83e8c;
  --bs-highlight-color: #212529;
  --bs-highlight-bg: #fcf8e3;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #f1f1f1;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 4px;
  --bs-border-radius-sm: 2px;
  --bs-border-radius-lg: 6px;
  --bs-border-radius-xl: 10px;
  --bs-border-radius-xxl: 2rem;
  --bs-border-radius-2xl: var(--bs-border-radius-xxl);
  --bs-border-radius-pill: 12rem;
  --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --bs-focus-ring-width: 0.25rem;
  --bs-focus-ring-opacity: 0.25;
  --bs-focus-ring-color: rgba(13, 110, 253, 0.25);
  --bs-form-valid-color: #198754;
  --bs-form-valid-border-color: #198754;
  --bs-form-invalid-color: #dc3545;
  --bs-form-invalid-border-color: #ff283e;

  // colors
  --blue-color: #0e2a53;
  --primary-color: #0b7aad;
  --warning-color: #d4a413;
  --danger-color: #b33026;
  --success-color: #13884d;
  --purple-color: #634a92;
  --brown-color: #7c3721;
  --info-color: #22aef0;
}

.offcanvas,
.offcanvas-lg,
.offcanvas-md,
.offcanvas-sm,
.offcanvas-xl,
.offcanvas-xxl {
  --bs-offcanvas-zindex: 1045;
  --bs-offcanvas-width: 360px;
  --bs-offcanvas-height: 33vh;
  --bs-offcanvas-padding-x: 1.25rem;
  --bs-offcanvas-padding-y: 1.25rem;
  --bs-offcanvas-bg: #ffffff;
  --bs-offcanvas-border-width: 1px;
  --bs-offcanvas-border-color: rgba(0, 0, 0, 0.2);
  --bs-offcanvas-box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
  --bs-offcanvas-transition: transform 0.3s ease-in-out;
  --bs-offcanvas-title-line-height: 1.5;
}

.offcanvas {
  position: fixed;
  bottom: 0;
  z-index: var(--bs-offcanvas-zindex);
  display: flex;
  flex-direction: column;
  max-width: 100%;
  color: var(--bs-offcanvas-color);
  visibility: hidden;
  background-color: var(--bs-offcanvas-bg);
  background-clip: padding-box;
  outline: 0;
  transition: var(--bs-offcanvas-transition);
}

.dark.offcanvas {
  position: fixed;
  bottom: 0;
  z-index: var(--bs-offcanvas-zindex);
  display: flex;
  flex-direction: column;
  max-width: 100%;
  color: $header-dark-text-color;
  visibility: hidden;
  background-color: $brand-background;
  background-clip: padding-box;
  outline: 0;
  transition: var(--bs-offcanvas-transition);
}
.dark {
  .offcanvas-header {
    .btn-close {
      color: $header-dark-text-color !important;
    }
  }
}

.pct-c-btn {
  display: block;
  padding: 0;
  border: 4px solid var(--bs-blue);
  border-right: none;
  position: fixed;
  overflow: hidden;
  right: -4px;
  top: 40px;
  z-index: 1030;
  transition: all 0.15s ease-in-out;
  border-radius: 50% 4px 4px 50%;
  box-shadow: -6px 0 14px 1px rgba(27, 46, 94, 0.04);
  background: var(--bs-blue);
  a {
    display: block;
    padding: 8px 10px;
    transition: all 80ms cubic-bezier(0.37, 0.24, 0.53, 0.99);
    i {
      font-size: 24px;
      display: block;
      animation: anim-rotate 2.5s infinite linear;
      line-height: 24px;
      color: #fff;
    }
  }
}

.pct-offcanvas {
  --bs-offcanvas-width: 360px;
  --bs-offcanvas-zindex: 1079;
  transition: transform 0.45s cubic-bezier(0.37, 0.24, 0.53, 0.99);
  box-shadow: 8px 0 14px rgba(27, 46, 94, 0.4);
}

.pct-offcanvas ~ .offcanvas-backdrop {
  opacity: 0.2;
}

.pct-offcanvas .offcanvas-body {
  padding: 25px;
  overflow: visible;
}

.offcanvas-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: var(--bs-offcanvas-padding-y) var(--bs-offcanvas-padding-x);
}

.flex-shrink-0 {
  flex-shrink: 0 !important;
}

.ms-3 {
  margin-left: 1rem !important;
}

.theme-color {
  display: flex;
  position: relative;
  padding: 0;
}

.preset-btn {
  padding: 0 !important;
  display: flex;
  height: 50px;
  width: 54px;
  margin-right: 10px;
  border: 2px solid var(--bs-gray-300);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  --bs-btn-active-border-color: var(--bs-gray-300);
}
.preset-btn.active {
  border-color: var(--bs-blue);
}

@media (max-width: 575.98px) {
  .offcanvas-sm {
    position: fixed;
    bottom: 0;
    z-index: var(--bs-offcanvas-zindex);
    display: flex;
    flex-direction: column;
    max-width: 100%;
    color: var(--bs-offcanvas-color);
    visibility: hidden;
    background-color: var(--bs-offcanvas-bg);
    background-clip: padding-box;
    outline: 0;
    transition: var(--bs-offcanvas-transition);
  }

  .offcanvas-sm.offcanvas-bottom,
  .offcanvas-sm.offcanvas-top {
    right: 0;
    left: 0;
    height: var(--bs-offcanvas-height);
    max-height: 100%;
  }

  .offcanvas-sm.offcanvas-start {
    top: 0;
    left: 0;
    width: var(--bs-offcanvas-width);
    border-right: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateX(-100%);
  }

  .offcanvas-sm.offcanvas-end {
    top: 0;
    right: 0;
    width: var(--bs-offcanvas-width);
    border-left: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateX(100%);
  }

  .offcanvas-sm.offcanvas-top {
    top: 0;
    border-bottom: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateY(-100%);
  }

  .offcanvas-sm.offcanvas-bottom {
    border-top: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateY(100%);
  }

  .offcanvas-sm.show:not(.hiding),
  .offcanvas-sm.showing {
    transform: none;
  }

  .offcanvas-sm.hiding,
  .offcanvas-sm.show,
  .offcanvas-sm.showing {
    visibility: visible;
  }
}

@media (max-width: 575.98px) and (prefers-reduced-motion: reduce) {
  .offcanvas-sm {
    transition: none;
  }
}

@media (min-width: 576px) {
  .offcanvas-sm {
    --bs-offcanvas-height: auto;
    --bs-offcanvas-border-width: 0;
    background-color: transparent !important;
  }

  .offcanvas-sm .offcanvas-header {
    display: none;
  }

  .offcanvas-sm .offcanvas-body {
    display: flex;
    flex-grow: 0;
    padding: 0;
    overflow-y: visible;
    background-color: transparent !important;
  }
}

@media (max-width: 767.98px) {
  .offcanvas-md {
    position: fixed;
    bottom: 0;
    z-index: var(--bs-offcanvas-zindex);
    display: flex;
    flex-direction: column;
    max-width: 100%;
    color: var(--bs-offcanvas-color);
    visibility: hidden;
    background-color: var(--bs-offcanvas-bg);
    background-clip: padding-box;
    outline: 0;
    transition: var(--bs-offcanvas-transition);
  }

  .offcanvas-md.offcanvas-bottom,
  .offcanvas-md.offcanvas-top {
    right: 0;
    left: 0;
    height: var(--bs-offcanvas-height);
    max-height: 100%;
  }

  .offcanvas-md.offcanvas-start {
    top: 0;
    left: 0;
    width: var(--bs-offcanvas-width);
    border-right: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateX(-100%);
  }

  .offcanvas-md.offcanvas-end {
    top: 0;
    right: 0;
    width: var(--bs-offcanvas-width);
    border-left: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateX(100%);
  }

  .offcanvas-md.offcanvas-top {
    top: 0;
    border-bottom: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateY(-100%);
  }

  .offcanvas-md.offcanvas-bottom {
    border-top: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateY(100%);
  }

  .offcanvas-md.show:not(.hiding),
  .offcanvas-md.showing {
    transform: none;
  }

  .offcanvas-md.hiding,
  .offcanvas-md.show,
  .offcanvas-md.showing {
    visibility: visible;
  }
}

@media (max-width: 767.98px) and (prefers-reduced-motion: reduce) {
  .offcanvas-md {
    transition: none;
  }
}

@media (min-width: 768px) {
  .offcanvas-md {
    --bs-offcanvas-height: auto;
    --bs-offcanvas-border-width: 0;
    background-color: transparent !important;
  }

  .offcanvas-md .offcanvas-header {
    display: none;
  }

  .offcanvas-md .offcanvas-body {
    display: flex;
    flex-grow: 0;
    padding: 0;
    overflow-y: visible;
    background-color: transparent !important;
  }
}

@media (max-width: 991.98px) {
  .offcanvas-lg {
    position: fixed;
    bottom: 0;
    z-index: var(--bs-offcanvas-zindex);
    display: flex;
    flex-direction: column;
    max-width: 100%;
    color: var(--bs-offcanvas-color);
    visibility: hidden;
    background-color: var(--bs-offcanvas-bg);
    background-clip: padding-box;
    outline: 0;
    transition: var(--bs-offcanvas-transition);
  }

  .offcanvas-lg.offcanvas-bottom,
  .offcanvas-lg.offcanvas-top {
    right: 0;
    left: 0;
    height: var(--bs-offcanvas-height);
    max-height: 100%;
  }

  .offcanvas-lg.offcanvas-start {
    top: 0;
    left: 0;
    width: var(--bs-offcanvas-width);
    border-right: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateX(-100%);
  }

  .offcanvas-lg.offcanvas-end {
    top: 0;
    right: 0;
    width: var(--bs-offcanvas-width);
    border-left: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateX(100%);
  }

  .offcanvas-lg.offcanvas-top {
    top: 0;
    border-bottom: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateY(-100%);
  }

  .offcanvas-lg.offcanvas-bottom {
    border-top: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateY(100%);
  }

  .offcanvas-lg.show:not(.hiding),
  .offcanvas-lg.showing {
    transform: none;
  }

  .offcanvas-lg.hiding,
  .offcanvas-lg.show,
  .offcanvas-lg.showing {
    visibility: visible;
  }
}

@media (max-width: 991.98px) and (prefers-reduced-motion: reduce) {
  .offcanvas-lg {
    transition: none;
  }
}

@media (min-width: 992px) {
  .offcanvas-lg {
    --bs-offcanvas-height: auto;
    --bs-offcanvas-border-width: 0;
    background-color: transparent !important;
  }

  .offcanvas-lg .offcanvas-header {
    display: none;
  }

  .offcanvas-lg .offcanvas-body {
    display: flex;
    flex-grow: 0;
    padding: 0;
    overflow-y: visible;
    background-color: transparent !important;
  }
}

@media (max-width: 1199.98px) {
  .offcanvas-xl {
    position: fixed;
    bottom: 0;
    z-index: var(--bs-offcanvas-zindex);
    display: flex;
    flex-direction: column;
    max-width: 100%;
    color: var(--bs-offcanvas-color);
    visibility: hidden;
    background-color: var(--bs-offcanvas-bg);
    background-clip: padding-box;
    outline: 0;
    transition: var(--bs-offcanvas-transition);
  }

  .offcanvas-xl.offcanvas-bottom,
  .offcanvas-xl.offcanvas-top {
    right: 0;
    left: 0;
    height: var(--bs-offcanvas-height);
    max-height: 100%;
  }

  .offcanvas-xl.offcanvas-start {
    top: 0;
    left: 0;
    width: var(--bs-offcanvas-width);
    border-right: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateX(-100%);
  }

  .offcanvas-xl.offcanvas-end {
    top: 0;
    right: 0;
    width: var(--bs-offcanvas-width);
    border-left: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateX(100%);
  }

  .offcanvas-xl.offcanvas-top {
    top: 0;
    border-bottom: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateY(-100%);
  }

  .offcanvas-xl.offcanvas-bottom {
    border-top: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateY(100%);
  }

  .offcanvas-xl.show:not(.hiding),
  .offcanvas-xl.showing {
    transform: none;
  }

  .offcanvas-xl.hiding,
  .offcanvas-xl.show,
  .offcanvas-xl.showing {
    visibility: visible;
  }
}

@media (max-width: 1199.98px) and (prefers-reduced-motion: reduce) {
  .offcanvas-xl {
    transition: none;
  }
}

@media (min-width: 1200px) {
  .offcanvas-xl {
    --bs-offcanvas-height: auto;
    --bs-offcanvas-border-width: 0;
    background-color: transparent !important;
  }

  .offcanvas-xl .offcanvas-header {
    display: none;
  }

  .offcanvas-xl .offcanvas-body {
    display: flex;
    flex-grow: 0;
    padding: 0;
    overflow-y: visible;
    background-color: transparent !important;
  }
}

@media (max-width: 1399.98px) {
  .offcanvas-xxl {
    position: fixed;
    bottom: 0;
    z-index: var(--bs-offcanvas-zindex);
    display: flex;
    flex-direction: column;
    max-width: 100%;
    color: var(--bs-offcanvas-color);
    visibility: hidden;
    background-color: var(--bs-offcanvas-bg);
    background-clip: padding-box;
    outline: 0;
    transition: var(--bs-offcanvas-transition);
  }

  .offcanvas-xxl.offcanvas-bottom,
  .offcanvas-xxl.offcanvas-top {
    right: 0;
    left: 0;
    height: var(--bs-offcanvas-height);
    max-height: 100%;
  }

  .offcanvas-xxl.offcanvas-start {
    top: 0;
    left: 0;
    width: var(--bs-offcanvas-width);
    border-right: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateX(-100%);
  }

  .offcanvas-xxl.offcanvas-end {
    top: 0;
    right: 0;
    width: var(--bs-offcanvas-width);
    border-left: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateX(100%);
  }

  .offcanvas-xxl.offcanvas-top {
    top: 0;
    border-bottom: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateY(-100%);
  }

  .offcanvas-xxl.offcanvas-bottom {
    border-top: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateY(100%);
  }

  .offcanvas-xxl.show:not(.hiding),
  .offcanvas-xxl.showing {
    transform: none;
  }

  .offcanvas-xxl.hiding,
  .offcanvas-xxl.show,
  .offcanvas-xxl.showing {
    visibility: visible;
  }
}

@media (max-width: 1399.98px) and (prefers-reduced-motion: reduce) {
  .offcanvas-xxl {
    transition: none;
  }
}

@media (min-width: 1400px) {
  .offcanvas-xxl {
    --bs-offcanvas-height: auto;
    --bs-offcanvas-border-width: 0;
    background-color: transparent !important;
  }

  .offcanvas-xxl .offcanvas-header {
    display: none;
  }

  .offcanvas-xxl .offcanvas-body {
    display: flex;
    flex-grow: 0;
    padding: 0;
    overflow-y: visible;
    background-color: transparent !important;
  }
}

.theme-color > a {
  position: relative;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  margin-right: 4px;
  width: 25px;
  height: 45px;
  flex: none;
}

.theme-color > a.active i,
.theme-color > a.active::after {
  transform: scale(1);
}

.theme-color {
  a {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    margin-right: 4px;
    width: 25px;
    height: 45px;
    border-radius: 3px;
    transition: all 0.15s ease-in-out;
    i {
      color: #fff;
      transform: scale(0);
      transition: all 0.15s ease-in-out;
      font-size: 18px;
    }
    &:after {
      content: '';
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      background: rgba(255, 255, 255, 0.3);
      z-index: 1;
      transform: scale(0);
    }
  }
  a.active {
    width: 50px;
  }
  a,
  .blue {
    background: var(--blue-color);
  }
  a,
  .primary {
    background: var(--primary-color);
  }
  a,
  .warning {
    background: var(--warning-color);
  }
  a,
  .success {
    background: var(--success-color);
  }
  a,
  .purple {
    background: var(--purple-color);
  }
  a,
  .brown {
    background: var(--brown-color);
  }
  a,
  .danger {
    background: var(--danger-color);
  }
}
